
.hero{
    min-height: 490px;
    background: #f8f9fe;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
}
.hero-content{
    width:48%;
}
.small-title{
    color: #3f3bb7;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
.hero-h1{
    font-size: 55px;
    margin-bottom: 20px;
}
.hero h1 span{
    color: #453bd2;
}
.paragraph{
    color:#4b5563;
    font-size: 18px;
    line-height: 1.8;
    min-width: 620px;
    margin-bottom: 30px;
}
.learn-btn{
    padding: 14px 20px;
    color: white;
    background-color: #453bd2;
}