.mainFooter{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.smlDiv{
    width: fit-content;
    display: flex;
    align-items: center;
    border: 2px solid whitesmoke;
    padding:10px 20px;
    width: 20%;
    margin-top: 20px;
    box-shadow: 10px 10px 20px #00000025;
}
.svgDiv{
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid whitesmoke;
    background-color: aliceblue;
    border-radius: 10px;

}
.divSvg{
    height: 30px;
    width: 30px;
    fill: var(--latest);
}
.experience{
    margin-left: 20px;
}
.firstP{
    font-size: 30px;
    font-weight: 700;
    font-family: sans-serif;
    margin-bottom: 0;
    color: var(--latest);
}
.secondP{
    font-family: sans-serif;
    font-size: 20px;
    margin: 0;
}
.thirdP{
    font-family: sans-serif;
    font-size: 10px;
    margin-top:10px;
    color: gray;
}